AWSTemplateFormatVersion: "2010-09-09"
Description: GitLab stack
Resources:
  VPC:
    Type: "AWS::EC2::VPC"
    Properties: 
      CidrBlock: {{ cloudformation.vpc_cidr }}
      EnableDnsSupport: true
      EnableDnsHostnames: true
      Tags: [ {Key: Name, Value: "Omnibus-GitLab" } ]
  DHCPOptions: 
    Type: AWS::EC2::DHCPOptions
    Properties: 
      DomainNameServers: 
        - AmazonProvidedDNS
  DHCPOptionsAssociation:
    Type: AWS::EC2::VPCDHCPOptionsAssociation
    Properties: 
      DhcpOptionsId: { Ref: DHCPOptions }
      VpcId: { Ref: VPC }
  PublicGateway:
    Type: AWS::EC2::InternetGateway
    Properties:
      Tags: [ {Key: Name, Value: "Omnibus-GitLab" } ]
  AttachGateway:
    Type: AWS::EC2::VPCGatewayAttachment
    Properties:
      VpcId: { Ref: VPC }
      InternetGatewayId: { Ref: PublicGateway }
  PublicRouteTable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: { Ref: VPC }
      Tags: [ {Key: Name, Value: "Omnibus-GitLab" } ]
  PublicRoute:
    Type: AWS::EC2::Route
    DependsOn: PublicGateway
    Properties:
      RouteTableId: { Ref: PublicRouteTable }
      DestinationCidrBlock: 0.0.0.0/0
      GatewayId: { Ref: PublicGateway }
  PublicNetworkAcl:
    Type: AWS::EC2::NetworkAcl
    Properties:
      VpcId:
        Ref: VPC
      Tags: [ {Key: Name, Value: "Omnibus-GitLab" } ]
  {% for name, param in cloudformation.app_subnets.iteritems() -%}
  SubnetFor{{ name }}:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: { Ref: VPC }
      CidrBlock: {{ param.cidr }}
      AvailabilityZone: {{ param.zone }}
      Tags: [ {Key: Name, Value: "Omnibus-GitLab {{ name }}" } ]
  RouteTableAssociationSubnetFor{{ name }}:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: { Ref: SubnetFor{{ name }} }
      RouteTableId: { Ref: PublicRouteTable }
  {% endfor -%}
  {% for az, cidr in cloudformation.backend_subnets.iteritems() -%}
  SubnetForBackendZone{{ az|upper }}:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: { Ref: VPC }
      CidrBlock: {{ cidr }}
      AvailabilityZone: {{ stack_region }}{{ az }}
      Tags: [ {Key: Name, Value: "Omnibus-GitLab backends" } ]
  {% endfor -%}
  SecurityGroupForSSH:
    Type: AWS::EC2::SecurityGroup
    Properties:
      VpcId: { Ref: VPC }
      GroupDescription: SSH security
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: '22'
          ToPort: '22'
          CidrIp: 0.0.0.0/0
  SecurityGroupInternal:
    Type: AWS::EC2::SecurityGroup
    Properties:
      VpcId: { Ref: VPC }
      GroupDescription: SSH security
  SecurityGroupForInternal:
    Type: AWS::EC2::SecurityGroup
    Properties:
      VpcId: { Ref: VPC }
      GroupDescription: SSH security
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: '22'
          ToPort: '22'
          SourceSecurityGroupId: { Ref: SecurityGroupInternal } 
  SecurityGroupForWebapp:
    Type: AWS::EC2::SecurityGroup
    Properties:
      VpcId: { Ref: VPC }
      GroupDescription: Webapplication security
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: '80'
          ToPort: '80'
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: '443'
          ToPort: '443'
          CidrIp: 0.0.0.0/0
  SecurityGroupForEFS:
    Type: AWS::EC2::SecurityGroup
    Properties:
      VpcId: { Ref: VPC }
      GroupDescription: NFS security
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: '2049'
          ToPort: '2049'
          SourceSecurityGroupId: { Ref: SecurityGroupInternal }
  {% for name in cloudformation.efs -%}
  Filesystem{{ name|title }}:
    Type: AWS::EFS::FileSystem
    Properties:
      FileSystemTags:
      FileSystemTags: [ {Key: Name, Value: "Omnibus-GitLab {{ name|title }} shared volume" } ]
  {% for az, cidr in cloudformation.backend_subnets.iteritems() -%}
  MountTargetFor{{ name|title }}OnZone{{ az|upper }}:
    Type: AWS::EFS::MountTarget
    Properties: 
      FileSystemId: { Ref: Filesystem{{ name|title }} }
      SubnetId: { Ref: SubnetForBackendZone{{ az|upper }} }
      SecurityGroups:
        - { Ref: SecurityGroupForEFS }
  {% endfor -%}
  {% endfor -%}
  InstanceForGitlabApp:
    Type: AWS::EC2::Instance
    Properties:
      ImageId: {{ cloudformation.ami }}
      InstanceType: t2.medium
      IamInstanceProfile: { Ref: InstanceProfileForWebapp }
      SecurityGroupIds:
        - { Ref: SecurityGroupForWebapp }
        - { Ref: SecurityGroupForSSH }
        - { Ref: SecurityGroupInternal }
      KeyName: {{ cloudformation.ec2_key_name }}
      SubnetId: { Ref: SubnetFor{{ cloudformation.ec2_subnets.Gitlab }} }
      Tags: [ { Key: Name, Value: GitLab-CE } ]
  IPAddressForGitlabApp:
    Type: AWS::EC2::EIP
    Properties:
      InstanceId: { Ref: InstanceForGitlabApp }
      Domain: vpc
  IAMWebappPolicy:
    Type: AWS::IAM::ManagedPolicy
    Properties: 
      PolicyDocument: 
        Version: "2012-10-17"
        Statement: 
          - Effect: "Allow"
            Action: "*"
            Resource:
              - { 'Fn::Join': ['', ['arn:aws:s3:::', { Ref: Backups }]] }
              - { 'Fn::Join': ['', ['arn:aws:s3:::', { Ref: Backups }, '/*']] }
          - Effect: "Allow"
            Action:
              - ses:GetSendQuota
              - ses:GetSendStatistics
            Resource: '*'
  IAMUser:
    Type: AWS::IAM::User
    Properties: 
      ManagedPolicyArns:
        - { Ref: IAMWebappPolicy }
      Path: "/"
  IAMRoleForWebapp:
    Type: AWS::IAM::Role
    Properties: 
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement: 
          - Effect: "Allow"
            Principal: 
              Service: 
                - "ec2.amazonaws.com"
            Action: 
              - "sts:AssumeRole"
      Path: "/"
      Policies: []
  InstanceProfileForWebapp:
    Type: AWS::IAM::InstanceProfile
    Properties: 
      Path: "/"
      Roles:
        - { Ref: IAMRoleForWebapp } 
  Backups:
    Type: AWS::S3::Bucket
